<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Djangomage</title>
    <style>
        body{
            font-family: Verdana;
         }
         .instr{
            overflow-wrap: break-word;
            width: 70%
         }
    </style>
</head>
<body>
Source code: <a href="https://github.com/JRzymkowski/Djangomage">github.com/JRzymkowski/Djangomage</a><br>
<center><a href="/game/new">Start new game</a></center><br><br>
<center>
<div class="instr">
Instructions: The goal of the game is to either destroy the opponent's tower or to grow your own to 100.
Each turn you get as many javas (J) as you have coffeeshops, as many rubies (R) as you have mines and
as many pythons (P) as you have dungeons.<br>
You can either play card for the cost indicated or discard to gain the ammount indicated as gain
</div>
</center>
</body>
</html>